#nick {
    width: 65%;
    float: left
}

#watchBtn {
    width: 33%;
    float: right
}


#main {
    position: absolute;    
    width: 350px;
    background-size: 350px;
    background-color: rgb(51, 51, 51);
    margin: 10px -50% 10px auto;
    padding: 5px 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#chat {
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0;
    outline: 0;
    color: #FFF;
    height: 30px;
    text-indent: 12px;
    position: fixed;
    bottom: 20;
    left: 20;
    width: 300px
}

#chat:focus {
    background: rgba(0, 0, 0, .5)
}

#serverPanel {
    width: 300px;
    height: 350px;
    background-color: rgb(51, 51, 51);
    margin: 10px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 46%;
    left: -50%;
    margin-right: -70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.checkbox label {
    margin-right: 10px
}

.playButton,
.watchButton {
    display: block;
    height: 35px
}

.playButton {
    width: 65%;
    float: left
}

.watchButton {
    display: block;
    float: right
}

canvas {
    position: absolute;
}

input[type=range] {
    -webkit-appearance: none;
    size: 10px;
    width: 10%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}