.button {
	margin-top:6px;
	width:100%;
	-moz-box-shadow:inset 0px -3px 7px 0px #181818;
	-webkit-box-shadow:inset 0px -3px 7px 0px #181818;
	box-shadow:inset 0px -3px 7px 0px #181818;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #181818), color-stop(1, #181818));
	background:-moz-linear-gradient(top, #181818 5%, #181818 100%);
	background:-webkit-linear-gradient(top, #181818 5%, #181818 100%);
	background:-o-linear-gradient(top, #181818 5%, #181818 100%);
	background:-ms-linear-gradient(top, #181818 5%, #181818 100%);
	background:linear-gradient(to bottom, #181818 5%, #181818 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#181818',GradientType=0);
	background-color:#181818;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:19px;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 29px #181818;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #181818), color-stop(1, #181818));
	background:-moz-linear-gradient(top, #181818 5%, #181818 100%);
	background:-webkit-linear-gradient(top, #181818 5%, #181818 100%);
	background:-o-linear-gradient(top, #181818 5%, #181818 100%);
	background:-ms-linear-gradient(top, #181818 5%, #181818 100%);
	background:linear-gradient(to bottom, #181818 5%, #181818 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#181818',GradientType=0);
	background-color:#181818;
}
.button:active {
	position:relative;
	top:1px;
}
