html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	width: 100%;
	height: 100%;
	position: fixed;
}

a {
	color: #000;
	text-decoration: underline;
}

hr {
	border-top: 2px solid #000;
}

hr.top {
	margin-top: 5px;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

h5 {
	font-weight: bold;
	font-size: 17px;
}

ul {
	padding-left: 20px;
}

input[type=checkbox] {
	cursor: pointer;
}

#overlays, #connecting {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 200;
}

#connecting {
	z-index: 201;
}

#connecting-content {
	width: 350px;
	background-color: #fff;
	margin: 100px auto;
	border-radius: 15px;
	padding: 5px 15px;
}

#title {
	padding: 10px;
	text-align: center;
}

#nick {
	width: 65%;
}

#skin {
	width: 33%;
	float: right;
}

#nick, #skin {
	display: inline;
}

#colors {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-top: 5px;
}

#colors label {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: normal;
}

#colors label input {
	margin: auto;
}

#gamemode {
	display: none;
	margin-top: 5px;
	width: 100%;
}

#helloDialog {
	width: 350px;
	height: 650px;
	background-color: rgba(255,255,255,0.91);
	margin: 10px auto;
	border-radius: 15px;
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	box-shadow: 0 0 9px #243342;
}

#helloDialogContent {
	padding: 5px 15px 5px 15px;
	height: 642px;
	overflow: hidden;
}

#gameplay {
	position: absolute;
	top: 0;
	left: 105%;
	width: 350px;
	height: 650px;
	background-color: rgba(255,255,255,0.91);
	border-radius: 15px;
	padding: 5px 15px 5px 15px;
	box-shadow: 0 0 9px #243342;
}

#news {
	position: absolute;
	top: 0;
	left: -105%;
	width: 350px;
	height: 650px;
	background-color: rgba(255,255,255,0.91);
	border-radius: 15px;
	padding: 5px 15px 5px 15px;
	box-shadow: 0 0 9px #243342;
}

#news .text, #gameplay .text {
	overflow-y: scroll;
	height: 550px;
	font-size: 15px;
	scrollbar-width: thin;
}

#preview {
	position: relative;
	padding: 8px;
	overflow: hidden;
}

#previewSkin {
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background-image: url(../img/checkerboard.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	aspect-ratio: 1 / 1;
	user-select: none;
}

#previewName {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 4px #000;
}

#chat_textbox {
	transition: all .5s ease-in-out;
	position: absolute;
	z-index: 1;
	bottom: 10px;
	background: rgba(0, 0, 0, .2);
	border: 0px;
	outline: none;
	color: #fff;
	height: 30px;
	text-indent: 12px;
	left: 10px;
	width: 300px;
	font-family: "Ubuntu";
}

#chat_textbox:focus {
	background: rgba(0, 0, 0, .5);
}

#footer {
	text-align: center;
	margin-bottom: 10px;
	margin-top: -10px;
}

#play-btn {
	width: 55%;
	margin-bottom: 10px;
	margin-right: 10px;
}

#spectate-btn {
	/*width: 13%;*/
	float: right;
	top: 0;
}

#play-btn, #spectate-button {
	display: inline;
}

#gallery-btn {
	width: 100%;
}

#touch {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#touchpad, #touchCircle, #splitBtn, #ejectBtn {
	position: fixed;
}

#touchpad, #splitBtn, #ejectBtn {
	z-index: 2;
}

#touchpad {
	background: #000;
	opacity: 0.3;
	width: 40vw;
	height: 80vh;
	left: 0;
	bottom: 0;
}

#touchCircle {
	width: 4vw;
	height: 4vw;
	border-radius: 2vw;
	background: #f00;
	opacity: 0.3;
	z-index: 3;
}

#splitBtn, #ejectBtn {
	width: 12vw;
	height: 12vw;
	border-radius: 6vw;
	background: #fff;
	opacity: 0.3;
	filter: invert(1);
}

#splitBtn {
	right: 18vw;
	bottom: 11vh;
}

#ejectBtn {
	bottom: 18vw;
	right: 0;
}

#playSounds:checked + #soundsVolume {
	display: inline;
}

#soundsVolume {
	display: none;
	width: 100px;
	height: 18px;
	padding: 0; /* IE fix */
	vertical-align: middle;
}

#settings label {
	margin-right: 10px;
	user-select: none;
}

.skin-wrapper {
	display: flex;
	gap: 10px;
	width: 100%;
	clear: both;
	margin-bottom: 5px;
}

.upload-btn-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}

.upload-btn-wrapper button {
	width: 100%;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	font-size: 24px;
}

.upload-btn-wrapper input[type=file]::file-selector-button {
	cursor: pointer;
}

.darkTheme #helloDialog, .darkTheme #gameplay, .darkTheme #news {
	background-color: rgba(9,13,23,0.6);
	color: #fff;
	border: 2px solid rgba(36,51,66,0.9);
	box-shadow: 0 0 9px #243342;
}

.darkTheme a {
	color: #fff;
}

.darkTheme #splitBtn, .darkTheme #ejectBtn {
	filter: none;
}

.darkTheme hr {
	border-top: 2px solid #fff;
}

.darkTheme #connecting-content {
	background-color: rgba(9,13,23,0.6);
	color: #fff;
	border: 2px solid rgba(36,51,66,0.9);
	box-shadow: 0 0 9px #243342;
}

@media screen and (max-width: 899px) {
	#helloDialog {
		transform: translate(-50%, -50%) scale(0.5);
	}
}

@media screen and (max-width: 480px) {
	#gameplay, #news {
		display: none;
	}

	#helloDialog {
		transform: translate(-50%, -50%) scale(0.8);
	}
}